#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("./Images/worm.png");
    background-size: cover;
}

#player2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("./Images/worm.png");
    background-size: cover;
}

#rocketLauncher {
    position: absolute;
    top: 10px;
    left: 0;
    width: 38px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Images/Bazooka.png");

}

@font-face {
    font-family: bitFont;
    src: url(8Bit.ttf);
}

#playButton {
    font-family: bitFont;
    background-color: transparent;
    color: antiquewhite;
    font-size: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    border: 0px;
    border-radius: 25px;
}

#logo {
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
}

html, body {
    
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: none;
}

body {
    background-image: url(Images/wallpaperopening.png);
    background-size: cover;
    background-repeat: no-repeat;

}


.rocket {
    position: absolute;
    height: 2%;
    width: 2%;
/*    background-color: red;*/
    background-image: url(Images/rocketRight.png)
}

/*#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: auto;
    background-image: url("./Images/worm.png");
    background-size: cover;
}*/




/*.opening {
    position: relative;
    
}*/

/* #ball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-color: blue;
  }
      */