@font-face {
    font-family: bitFont;
    src: url(fonts/8Bit.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url(Images/wallpaperopening.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("./Images/worm.png");
    background-size: cover;
}

.rocketLauncher {
    position: absolute;
    top: 10px;
    left: 0;
    width: 38px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Images/Bazooka.png");

}

#splashButton {
    font-family: bitFont;
    background-color: transparent;
    color: antiquewhite;
    font-size: 50px;
    display: fixed;
    position: absolute;
    top: 50%;
    left: 40%;
    border: 1px;
    border-radius: 25px;
    z-index: 1500;
}

#logo {
    width: 55%;
    height: 40%;
    position: relative;
    left: 21%;
    z-index: 1002;
}

.rocket {
    position: absolute;
    height: 20px;
    width: 30px;
    background-image: url(./Images/rocketRight.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.rocket.rocket-right {
    background-image: url(./Images/rocketRight.png);
}

.rocket.rocket-left {
    background-image: url(./Images/rocketLeft.png);
}

.overlay{
    opacity:1;
    background-image: url(./Images/wallpaperopening.png);
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

