
#playButton {

    background-color: black;
    font-size: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
}

body {
    background-image: url(wallpaperopening.png);
    background-size: cover;
    background-repeat: no-repeat;
}