#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("./Images/worm.png");
    background-size: cover;
}

/*

@font-face {
    font-family: bitFont;
    src: url(8Bit.ttf);
}

#playButton {
    font-family: bitFont;
    background-color: transparent;
    color: antiquewhite;
    font-size: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    border: 0px;
    border-radius: 25px;
}

#logo {
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
}



body {
    background-image: url(Images/wallpaperopening.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: auto;
    background-image: url("./Images/worm.png");
    background-size: cover;
}

*/


/*.opening {
    position: relative;
    
}*/

/* #ball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-color: blue;
  }
      */